body {
    background-color: #fffeec;
    font-family: 'Raleway', sans-serif;
    color: green;
    text-align: center;
}

button {
    background-color: white;
}

#container {
    display: flex;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    color: black;
    height: 800px;
    width: 801px;
}

.cell:hover {
    background-color: gray!important;
}
