body {
    background-color: #fffeec;
    font-family: 'Raleway', sans-serif;
    color: green;
    text-align: center;
}

button {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 80px;
}

button:hover {
    background-color: #e8a55e!important;
}

#container {
    display: flex;
    gap: 50px;
}

#controls {
    width: 400px;
    margin-left: 50px;
}

#greenBtn {
    background-color: green;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    height: 800px;
    width: 801px;
}

.cell:hover {
    background-color: gray!important;
}
