body {
    background-color: #fffeec;
    color: green;
    text-align: center;
}

#container {
    display: flex;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    color: black;
    height: 800px;
    width: 800px;
}

.cell:hover {
    background-color: gray;
}
